<h4>Users list</h4>
<ul class="collection users-list" *ngIf="users.length">
  <li class="collection-item avatar" *ngFor="let user of users">
    <img [src]="user.photo" alt="" class="circle">
    <a [id]='user.id' [routerLink]="['/user', user.id]"> {{user.fullName}}</a>
    <p>{{user.phone}}</p>
    <span class="secondary-content">
      <a [routerLink]="['/edit/user', user.id]">
        <i class="material-icons">edit</i>
      </a>
      <a (click)="removeUser($event, user)">
        <i class="material-icons">delete</i>
      </a>
    </span>

  </li>
</ul>
<div *ngIf="!users.length">
  <a class="waves-effect waves-light btn" [routerLink]="['/add/user']">
    Add user
    <i class="material-icons right">add</i>
  </a>
</div>
