<nav role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" [routerLink]="['/']" class="brand-logo">
      <img src="img/angular2-logo.png" alt="logo" class="responsive-img">
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/vk']">Vk integration</a></li>
      <li><a [routerLink]="['/add/user']">Add user</a></li>
    </ul>
  </div>
</nav>
<main>
  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
