<h4 class="center" *ngIf="model.id">Edit user</h4>
<h4 class="center" *ngIf="!model.id">Add user</h4>
<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="col s12 user-form">

  <div class="input-field col s6">
    <i class="small material-icons prefix">account_circle</i>
    <label class="active" for="firstName">First Name</label>
    <input id="firstName" type="text" class="validate" required
           ngControl="firstName" [(ngModel)]="model.firstName"/>
  </div>

  <div class="input-field col s6">
    <i class="small material-icons prefix">assignment_ind</i>
    <label class="active" for="lastName">Last Name</label>
    <input id="lastName" type="text" class="validate"
           ngControl="lastName" [(ngModel)]="model.lastName"/>
  </div>

  <div class="input-field col s6">
    <i class="small material-icons prefix">email</i>
    <label class="active" for="email">Email</label>
    <input id="email" type="email" class="validate" required
           ngControl="email" [(ngModel)]="model.email" />
  </div>

  <div class="input-field col s6">
    <i class="small material-icons prefix">phone</i>
    <label class="active" for="phone">Telephone</label>
    <input id="phone" type="text" class="validate"
           ngControl="phone" [(ngModel)]="model.phone" >
  </div>

  <div class="input-field col s9">
    <i class="small material-icons prefix">photo</i>
    <label class="active" for="photo">Photo url</label>
    <input id="photo" type="text" class="validate"
           ngControl="photo" [(ngModel)]="model.photo" >
  </div>

  <div class="input-field col s3">
    <select id="gender" required class="browser-default"
            ngControl="gender" [(ngModel)]="model.gender" >
      <option *ngFor="let s of genders" [value]="s">{{s}}</option>
    </select>
    <label class="active" for="gender">Gender</label>
  </div>

  <div class="input-field col s12">
    <textarea id="about" class="materialize-textarea" required
              ngControl="about" [(ngModel)]="model.about"
    ></textarea>
    <label class="active" for="about">About me</label>
  </div>

  <div class="col s12">
    <button class="btn waves-effect waves-light" type="submit" name="submit" [ngClass]="{disabled: !userForm.form.valid}" [disabled]="!userForm.form.valid">
      Submit
      <i class="material-icons right">send</i>
    </button>

    <button class="btn waves-effect waves-light" type="button" (click)="reset()">
      Reset
      <i class="material-icons right">delete</i>
    </button>
  </div>
</form>
